NEXT_PUBLIC_GOOGLE_CLIENT_ID=274712896694-2tsqkk9m186qop7j09eg302b3161mggk.apps.googleusercontent.com
YOUTUBE_API_KEY=AIzaSyBu0O-0fYQhrj4J6b7ekFUiWTwt8VZOPpo


UPSTASH_REDIS_REST_URL="https://set-polecat-122987.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAeBrAAIgcDI5N2Q4MzYwMjEyY2Y0YzM0OGFiZmQ4MTJiYjIyZGZjNg"